* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('assets/teste.svg');
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 500px;
    height: 500px;
    opacity: 0.4;
    background-color: blue;
    border: 2px solid black;
}